.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 18px;
  border-radius: 8px;
  position: relative;
  border: 1px solid rgb(237, 235, 225);
  &-info {
    display: flex;
    align-items: center;
    & .num {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      border-radius: 2px;
      background-color: rgba(255, 215, 0, 1);  
      color: #000;
      font-weight: bold;
      margin-right: 20px;
      padding: 8px;
    }
    & .name {
      color: #fff;
      font-size: 20px;
      font-weight: normal;
      line-height: 20px;
    }
  }
  &-action {
    & span {
      cursor: pointer;
      color: rgba(255, 215, 0, 1);
      font-size: 26px;
      font-weight: bold;
    }
    .times {
      margin-left: 16px;
    }
    
  }
}
.active-item {
  background-color:rgb(55, 88, 231);
  .list__item-action {
    & span {
      color:#fff;
    }
    .times {
      color:#fff;
      margin-left: 16px;
    }
  }
}