.information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  &__title {
    color: #fff;
    margin-right: 10px;
  }
  &__counter {
    font-size: 25px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(255, 215, 0, 1);
    padding: 5px;
    font-weight: bold;
  }
}