.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  input {
    background-color: rgba(255, 255, 255, 0.6);
    height: 32px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 10px;
    color: #000000;
    font-size: 14px;
    &::placeholder {
      color: #000;
    }
  }
  .title {
    width: 240px;
  }
  .number {
    width: 64px;
  }
  .add {
    width: 92px;
    height: 32px;
    background-color: inherit;
    color: rgba(255, 215, 0, 1);
    border-radius: 3px;
    border: 1px solid rgba(255, 215, 0, 1);
  }
}
@media only screen and (max-width: 440px) and (min-width: 320px) {
  .form {
    .title {
      width: 57%;
    }
    .number {
      width: 17%;
    }
    .add {
      width: 22%;
    }
  }
}