.app {
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 17, 23, 1);
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;

    .image {
      height: 90%;
    }
    .card {
      width: 430px;
      height: 90%;
      overflow: hidden;
      background: linear-gradient(112deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 73.15%);
      box-shadow: 0 1px 24px -1px rgba(0, 0, 0, 0.42);
      backdrop-filter: blur(7.5px);
      border-radius: 18px;
      position: relative;
      &__item {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 16px 8px ;
        box-sizing: border-box;
        background-color: inherit;
        &::-webkit-scrollbar {
          width: 6px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background:rgb(108, 106, 106);
          -webkit-border-radius: 5px;
          border-radius: 5px;

        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background:rgb(169, 168, 169);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
      

    }
  }

}

@media only screen and (min-width: 1600px) {
  .app {
    .wrapper {
      .card {
        height: 700px;
      }
      .image {
        height: 800px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
  .app {
    .wrapper {
      padding: 0 10px;
      gap: 30px;
      .image {
        height: auto;
        width: 55%;
      }
      .card {
        height: 80%;
      }
    }
  }
}
@media only screen and (max-width: 999px) and (min-width: 300px) {
  .app {
    .wrapper {
      .image {
        display: none;
      }
      .card {
        height: 80%;
        width: clamp(320px, 98%, 430px);
        border-radius: 10px;
      }
    }
  }
}