.filter {
  height: 40px;
  display: flex;
  position: absolute;
  bottom: 22px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  padding: 0 8px;
  &__buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    & button {
      border: 2px solid rgba(255, 215, 0, 1);
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 215, 0, 1);
        color: #000;
      }
      
    }
    .active-btn {
        background-color: rgba(255, 215, 0, 1);
        color: #000;
      }
  }
}

@media only screen and (max-width: 440px) and (min-width: 320px) {
  .filter {
    padding: 0;
  }
}