.search {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  &__item {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    border: 2px solid rgba(255, 215, 0, 1);
    background-color: inherit;
    color: #ffffff;
    &::placeholder {
      color: #eee;
    }
  }
}